

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section+h4 {
  margin-top: 2rem;
  border-top: 1px solid;
}

.card {
  width: 30rem;
  margin: 1.5rem 1rem;
}

.list-group-item {
  display: flex;
  justify-content: space-between
}

@media (max-width: 520px) {
  .card {
    width: 80%;
  }
}