.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section+h4 {
  margin-top: 2rem;
  border-top: 1px solid;
}

.perfil-image {
  width: 15rem;
  margin: 2rem 1rem;
}
 
.divisoria {
  width: 40rem;
  height: 2px;
  background: rgb(196,196,196);
 
}

.card {
  width: 40rem;
  margin: 1.5rem 1rem;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}
.list-item-attribute{
  width:15%;
}

.list-group-item img  {
  
}